{% extends "baseadminplaylists.html.twig" %}

{% block body %}
    <h2>Nouvelle playlist : </h2>
       {{ form_start(formplaylist) }}
       
       {{ form_row(formplaylist.name) }}
       {{ form_row(formformation.description) }}
       
       
       {{ form_end(formplaylist) }}
        
{% endblock %}